boilerplate-npm-gomix/.gitconfig
boilerplate-npm-gomix/.gitignore
boilerplate-npm-gomix/.replit
boilerplate-npm-gomix/README.md
boilerplate-npm-gomix/server.js
boilerplate-npm-gomix/public/style.css
boilerplate-npm-gomix/views/index.html
